<img class="logo-img" alt="SP" height="64" width="64" src="<%= Rails.configuration.x.app_url %><%= asset_pack_url 'media/images/logo.png' %>">
<div class="container">
  <h2>Восстановление пароля на сайте Soligorsk Place</h2>
  <hr/>
  <div class="mail-body">
    <p>Здравствуйте, <%= @user.fullname %>!</p>
    <p>К нам поступил запрос на восстановление пароля к Вашей учетной записи. Для создания нового пароля перейдите по ссылке ниже.</p>
    <p><a href="<%= @reset_url %>" class="button">Восстановить пароль</a></p>
    <p>Ссылка из данного письма будет действительна 1 час с момента отправки. Если вы не успели изменить пароль - сделайте новый запрос на восстановление.</p>
    <p>Если вы не создавали запрос на восстановление пароля: просто проигнорируйте письмо.</p>
    <p><b>Внимание!</b> Сотрудники нашего сервиса никогда не требуют от Вас предоставления пароля от учетной записи или ссылки для его восстановления! Никому не передавайте эти данные ради безопасности Вашей учетной записи!</p>
    <div class="sign">
      <p>---</p>
      <p>С уважением,</p>
      <p>команда Soligorsk Place</p>
    </div>
  </div>
</div>
<div class="underletter">
  <em>&copy; 2021 Soligorsk Place</em>
</div>