<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>body{background-color:#eee;font-family:Arial}.logo-img{display:block;margin-left:auto;margin-right:auto}.container{max-width:840px;background-color:#fff;margin-right:auto;margin-left:auto;border-radius:15px}h2{text-align:center;padding-top:1rem}hr{height:1px;color:inherit;background-color:currentColor;border:0;opacity:.25}.mail-body{padding:10px}.button{color:#fff;background-color:#0d6efd;border-color:#0d6efd;display:inline-block;font-weight:400;line-height:1.5;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}.sign p{margin:0}.underletter{margin-top:.5rem;font-size:.75em;color:#6c757d;text-align:center}</style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>